<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Recipes</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>

  <h2>All recipes</h2>
  <br/><br/>
   <ul class='recipe'>
   <% for(var i=0; i < recipes.length; i++) {%>
     <li class='recipe'>
       <span><b>Name : </b><%= recipes[i].name %></span><br />
       <span><b>Calories : </b><%= recipes[i].calories %></span><br />
       <span><b>Ingredients : </b><%= recipes[i].Ingredients %></span><br />
       <span><b>Time : </b><%= recipes[i].Time %></span><br />

     </li>
   <% } %>
   </ul>
  <br />
  <a href='/add'>Add recipe</a>


  <br />
  <br />
  <br />
</body>
</html>
